doctype html
html(lang="en")
  head
    title Login App - Consent Page
  body
    h1 Login App - Consent Page
    form(method='POST' action='/oidc-sample/login/consent')
      label #{app_name} is requesting access to below scopes:
        ul
          each val in scopeList
            li= val
        br
        input(type='hidden', name='client_id', value=client_id)
        input(type='hidden', name='redirect_uri', value=redirect_uri)
        input(type='hidden', name='scope', value=scope)
        input(type='hidden', name='state', value=state)
        input(type='hidden', name='app_name', value=app_name)
        button(type='cancel') Deny
        button(type='submit', name='consent', value='allow') Allow

